---
title: 'Surewest speed test results'
date: 2012-09-03T12:42:00.000-07:00
draft: false
---

Switching to the Fusion Internet/Phone service via Cal.net ISP, so thought I would run Surewest one last time:  
  
Download: 17.43 Mbit/s  
Upload: 19.61 Mbit/s  
Ping: 25ms  
  
I have had outstanding service from Surewest for about five years. However, for our use cases, Surewest fiber seems to represent overkill...and we need to cut costs. This will decrease our annual internet bill by about half, or ~$500.